* {
    padding: 0;
    margin: 0;
}

.container {
    margin: 10rem auto;
    width: 35vw;
    height: 40vh;
    position: relative;
    opacity: 1;
    }

.container:before {
    display: block;
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: linear-gradient(to bottom, #81929e, #99a8b1, #b2bec4, #ccd5d8, #e7eced);
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.container:after {
    display: block;
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: linear-gradient(to bottom, #c98532, #d69647, #e3a65c, #efb772, #fcc887);
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.container:hover:after {
    opacity: 1;
}

.container:hover:before {
    opacity: 0;
}
