* {
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.container {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: transform-box 1s ease;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: 2;
}


@keyframes transform-box{
    0% {
        border-radius: 5%;
        background: rgb(253,150,0);
    }
    10% {
        border-radius: 5%;
    }

    20% {
        border-radius: 10%;
    }
    30% {
        border-radius: 15%;
    }
    40% {
        border-radius: 20%;
    }
    50% {
        border-radius: 25%;
    }
    60% {
        border-radius: 30%;
    }
    70% {
        border-radius: 35%;
    }

    80% {
        border-radius: 40%;
    }
    90% {
        border-radius: 45%;
    }
    100% {
        border-radius: 50%;
        background: rgb(255,0,0);
    }
}