.container {
    background: rgb(238,238,238);
    border: 2px solid black;
    /* overflow: hidden;  --- not recommended */
}

/* used now days !!! */
.container:after{
    display: block;
    content: '';
    clear: both;
}

.box {
    width: 3rem;
    height: 4rem;
    background: red;
    margin: 0 2rem;
}

.box.b1 {
    float: left;
}

.box.b2 {
    float: right;
}

p {
    font-size: 16px;
    padding: 0;
    margin: 0;
}
/* 
.cleaner {
    clear: both;
} */

