html {
    box-sizing: border-box;
    font: 16px/1.5 Helvetica, serif;
}

@media (min-width: 500px){
    html {font-size: var(--mobile-font-size);}
}

@media (min-width: 700px){
    html {font-size: var(--tablet-font-size);}
}

@media (min-width: 1600px){
    html {font-size: var(--desktop-font-size);}
}

body, input, textarea, option, select, table, form {
    font: inherit;
}

.site-title,
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
    line-height: 1.1; 
    padding: 0.5em 0;
}

h1 { font-size: var(--h1-font-size); }
h2 { font-size: var(--h2-font-size); }

p, ul {
    padding-bottom: 1.5em;
}

ul {
    padding-left: 3em;
}

