html {
    box-sizing: border-box;
    font: 14px/1.5 Georgia, serif;
}

@media (min-width: 600px){
    html {font-size: 16px;}
}

@media (min-width: 1024px){
    html {font-size: 18px;}
}

@media (min-width: 1600px){
    html {font-size: 20px;
    }
}


body, input, textarea, option, select, table, form {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    margin-bottom: 0.5em;
    font-weight: normal;
    /* font-family: Playfair Display, Helvetica, sans-serif; */
    /* line-height: 1.1; */
    /* padding: 1em 0; */
}

h1 { font-size: 2.8em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

p, ul, ol, blockquote {
    padding-bottom: 1.5em;
}

ul, ol {
    padding-left: 2em;
}

ul ul, ol ol, ul ol, ol ul {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

ol > li > ol > li {
    list-style-type: lower-roman;
}

li ul li ul li {
    list-style-type: square;
}

blockquote {
    width: 15em;
    padding-left: 1em;
    font-style: italic;
    opacity: 0.8;
    font-family: serif;
    border-left: 1px solid gray;
    margin-left: 2em;
    margin-bottom: 1em;
}

blockquote p:last-child {
    padding-bottom: 0;
    text-align: right;
    opacity: 0.5;
}
