@import url(typography.css);

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    font : 1em;
    line-height: 1.2; 
}

body {
    background: rgb(238,238, 238)
}

.site-title {
    display: inline-block;
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
    padding-bottom: 0.5em;
}

header {
    border-bottom: 2px solid #000;
    margin-bottom: 2em;
    position: relative;
}

.cleaner:after {
    display: block;
    content: '';
    clear: both;
}

.media {
    background: rgb(255,255,255);
    width:25%;
    position: relative;
    margin-left: 1em;
    border: 3px solid #000;
    float: right;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.25);
}

.media:before,
.media:after,
.second-media:before,
.second-media:after {
    display: block;
    content: '';
}

.media:before{
    padding-top: 150%;
}

.second-media:before {
    padding-top: 70%;
}

.second-media {
    background: rgb(255,255,255);
    width: 25%;
    position: relative;
    margin: 0 1em 0.5em 0;
    /* overflow: hidden; */
    border: 3px solid #000;
    float: left;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.25);
}

.media img {
    display: block;
    width: 90%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    float: right;
}

.second-media img {
    display: block;
    width: 90%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

blockquote {
    font-family: Georgia, serif;
    border-left: 3px solid silver;
    float: right;
    width: 45%;
    margin-left: 1em;
    margin-bottom: 1em;
}

blockquote p {
    margin-top: 1em;
}

section {
    margin-bottom: 1em;
}

main {
    width: 70%;
    float: left;
}

aside {
    width: 25%;
    float: right;
    margin-left: 1em;
}

li {
    color: green;
    font-weight: bold;
    list-style: square;
}

header nav ul {
    padding: 0.5em;
    position: absolute;
    bottom: 10px;
    right: 5px;
}

header nav ul li{
    list-style-type: none;
    display: block;
    float: right;
}

a {
    text-decoration: none;
    color :rgb(0, 102, 0);
    display: block;
    line-height: 1;
    padding: 0.8em 1em;
}



