*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 14px/1.5 Georgia, serif;
}

@media (min-width: 600px){
    html {font-size: 16px;}
}

@media (min-width: 1024px){
    html {font-size: 18px;}
}

@media (min-width: 1600px){
    html {font-size: 20px;
    }
}


body, input, textarea, option, select, table, form {
    font: inherit;
}

body {
    width: 80%;
    max-width: 74rem;
    margin: 0 auto;
    padding: 2em ;
    background: rgb(238,238,238);
    border-bottom: 1px solid #000;
}

a {
    text-decoration: none;
    color: #000;
}

.site-header {
    display: flex;
    align-items: center;
    /* padding-top: 4em; */
}

.site-title {
    padding: 0;
    margin: 0;
    font-size: 2.5em;
    /* font-weight: normal; */
    /* letter-spacing: 0.08em; */
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.nav {
    display: block;
    margin-left: auto;
    background: #FFF;
}

.nav ul {
    padding: 0;
    margin: 0.5em;
}

.nav li {
    display: block;
    list-style: none outside;
}

.nav a {
    display: block;
    background: #000;
    color: #FFF;
    border-radius: 0.3em;
    line-height: 1;
}

.nav > ul {
    display: flex;
}

.nav > ul > li {
    padding: 0 0.5em;
}

.nav > ul > li > a{
    padding: 0.5em 1em;
    border : 1px solid #369;
    outline: none;
}

/* Mobile nav logic */

.nav-toggle {
    opacity: 0;
    pointer-events: none;
    position: absolute;    
}

.nav-toggle-button {
    display: none;
    margin-left: auto;
}

/* Phones */
@media (max-width: 900px){

    body {
       border: none;
    }
    .nav-toggle-button {
        display: flex;
        justify-content: center;
    }
    .nav-toggle-button .close {
        display: none;
    }

    .nav {
        display: none;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;

    }

    .nav > ul {
        display: block;
    }

    .nav > ul > li {
        padding: 0.5em;
    }

    .nav > ul > li a {
        text-align: center;
        padding: 1em;
    }

    .nav-toggle + .site-header {
        display: block;
    }
    
    .nav-toggle:checked + .site-header .nav {
        display: block;
    }

    .nav-toggle:checked + .site-header .nav-toggle-button .close {
        display: inline-block;
        padding-right: 0.5em;
    }
}