body {
    max-width: 90vw;  
    margin: 2em auto;
}

.container {
    display: grid; 
    grid-gap: 1em;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.box {
    background: #000;
    color: #FFF;
    padding: 1.5em;
    border-radius: 0.2em;
}
