.container {
    background:  #666;
    width: 80vw;
    height: 80vh;
    margin: 10vh 10vw;
    padding: 1rem;
    position: relative; /* if not align to the body ta */
}

.box {
    background: pink;
    margin: 0 0 1rem 0;
    width: 5vw;
    height: 5vw;
}

/* .box.b1{
    position: relative;
    top: 20rem;
    left: 20rem;    
} */

/* .box.b1 {
    position: absolute;
    top: 20rem;
    left: 20rem;   
} */

.box.b1 { /* center aligment */
    position: absolute; /*fixed*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}