*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    width: 82vw;
    margin: 2em auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    grid-template-rows: repeat(16, 40vw);
    grid-gap: 1vw;
}

.media {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

@media (min-width: 800px) {
    .gallery {
        grid-template-columns: repeat(4, 20vw);
        grid-template-rows: repeat(8, 20vw);
        grid-gap: 0.5vw;
    }
}